<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Test Labs PW Suite" verbose="4">
  
  <test  name="Automation Test Labs Login Page Test">
  <classes>
  <class name="tests.LoginTest"/>
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
